[Unit]
Description=Refresh Hugo based website (amritanshu.in)

[Service]
User=serveruser
WorkingDirectory=/srv/applications/hugo-amritanshu-in/
ExecStart=/bin/bash -c "git fetch && git rebase"
NoNewPrivileges=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target